fastapi>=0.100.0
uvicorn>=0.20.0
slack_bolt>=1.18.0
langchain>=0.1.0
langchain-core
langchain-google-vertexai
langchain-google-genai
langgraph
pydantic>=2.0.0
python-dotenv
GitPython
aiohttp
pytz
# Force Rebuild for aiohttp
